<div class="container">
    <section class="container-fluid animate__animated animate__fadeIn">
        <div class="row my-4">
            <div class="col-12">
                <div class="head">
                    <h4 class="m-3">I'm lost</h4>
                    <button [routerLink]="['/']" >
                        <span class="material-icons"> arrow_back_ios_new </span>
                    </button>
                </div>
            </div>
            <div class="col-12 lost">
                <div>
                    <h2>Oooops... Error 404!</h2>
                    <h4>Page not found</h4>
                    <button [routerLink]="['/']">back to home</button>
                </div>
            </div>
        </div>
    </section>
</div>
