<div class="container-fluid">

    <header class="animate__animated animate__fadeIn">
        <div class="row my-4">
            <div class="col-12 content">
                <div class="info">
                    <h2 class="info-h2">Nutritional Information</h2>
                    <p class="info-p" >We compute the nutritional information for recipes automatically using a proprietary algorithm. With this information, you can find individual recipes or even create entire meal plans that satisfy your users' dietary goals.</p>
                </div>
            </div>
        </div>
    </header>

    <app-loading *ngIf="foods.length == 0" ></app-loading>

    <section class="container-fluid animate__animated animate__fadeIn">
        <div class="row" *ngIf="foods.length > 0">

            <div class="col-md-8 foodp">
                <h4 class="m-3">Recomended</h4>
                <app-card-home [foods]="foods" *ngFor="let foods of foods" ></app-card-home>
                <button [routerLink]="['/Recommended']">View More</button>
            </div>

            <div class="col-md-4 mediap">
                <h4 class="m-3">Popular</h4>
                <app-media-card [foodVeg]="foodVeg" *ngFor="let foodVeg of foodVeg"></app-media-card>
                <button [routerLink]="['/Popular']">View More</button>
            </div>

        </div>
    </section>

</div>
